$color-black: #1E1E1E;
$color-orange: #FFA933;
$color-rose: #EB85E0;
$color-white: white;
$color-blue: #1292E6;

$font-family: 'Lato', sans-serif;

$font-small: .8rem;
$font-medium: 1rem;
$font-large: 1.6rem;
$font-xlarge: 2.4rem;
$font-xxlarge: 3.2rem;
$font-xxxlarge: 5rem;