.contactMe {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(10%);
  width: 80%;
  margin: 0 auto;
  padding: 1rem;

  @include respond(phone) {
    width: 95%;
    justify-content: left;
  }

  @include respond(tab-port) {
    transform: translateY(0%);
  }

  @include respond(phone-land) {
    width: 100%;
    transform: translate(0,0);
  }

  &__header {
    width: 100%;
    margin-bottom: 2.5rem;
    color: $color-white;

    @include respond(tab-port) {
      margin-bottom: 1rem;
    }

    @include respond(phone-land) {
      margin-bottom: 1.5rem;
    }

    &-main {
      font-weight: 600;
      font-size: $font-large;
      margin-bottom: .5rem;

      @include respond(tab-port) {
        font-size: $font-medium;
      }
    }

    &-subMain {
      font-weight: 300;
      font-size: $font-medium;

      @include respond(tab-port) {
        font-size: $font-small;
      }

      @include respond(phone) {
        width: 80%;
      }
    }
  }
  
  &__state {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2.5rem;
  }

  &__errMsg {
    width: 100%;
    text-align: center;
    padding: .5rem;
    color: $color-red;
    font-size: $font-small;
  }
}

.emailSent {
  color: $color-white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-medium;
}

.emailForm {
  width: 100%;
  box-sizing: border-box;

  @include respond(tab-port) {
    height: 100%;
  }

  @include respond(phone-land) {
    height: 70%;
  }

  &__50 {
    width: 48%;

    &-left {
      margin-right: 2%;
    }
    &-right {
      margin-left: 2%;
    }
  }

  &__100 {
    width: 100%;
  }
}