.code {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;

  &__image {
    height: 30%;
    width: auto;
    transform: translate(5%,-50%);

    @include respond(tab-port) {
      height: 70%;
      width: auto;
      transform: translate(10%, -70%);
    }

    @include respond(phone) {
      height: 60%;
      width: auto;
      transform: translate(5%, -60%);
    }
  }
}