#app {
  background-color: $color-black;
  width: 100%;
  height: 100%;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom right, $color-orange, $color-rose);
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  z-index: 1;

  @include respond(tab-port) {
    width: 100%;
    height: 60%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  }

  @include respond(phone) {
    width: 100%;
    height: 55%;
  }

  &__image {
    width: 100%;
    max-height: 50rem;
    object-fit: contain;
    transform: translate(-5rem, 5rem);
  }
}

.activeSide{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  overflow: hidden;

  @include respond(tab-port) {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }

  @include respond(phone) {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }
}