* {
  font-family: $font-family;
}

body {
  font-size: 62.5%;
}

.primaryHeading {
  text-align: center;
  font-weight: 900;

  &-main {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    color: $color-white;
    font-size: $font-xxxlarge;

    @include respond(tab-land) {
      font-size: $font-xxlarge;
    }

    @include respond(phone) {
      font-size: $font-xlarge;
      transform: translate(-50%, 20%);
    }

  }
}